<nav class="navbar navbar-expand-lg navbar-{{ color }} bg-{{ color }} mb-4">
    <div class="container">
        <a class="navbar-brand" routerLink="/">{{ navTitle }}</a>
        <button (click)="toggleCollapseNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [class.show]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pizzas" routerLinkActive="active">Nos pizzas</a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownBasic1" role="button" ngbDropdownToggle>Dropdown</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class="btn btn-danger ml-2" (click)="changeTheme()">Changer thème</button>
        </div>
    </div>
</nav>
