<!-- La div apparait seulement si maSuperPizza est sélectionnée -->
<div *ngIf="maSuperPizza" class="row">
    <div class="col-lg-3">
        <!-- <img src="assets/img/pizzas/{{ maSuperPizza.image }}" alt="{{ maSuperPizza.name }}"> -->
        <img [src]="'assets/img/pizzas/' + maSuperPizza.image"
            [alt]="maSuperPizza.name" class="img-fluid">
    </div>
    <div class="col-lg-9">
        <h2>{{ maSuperPizza.name }}</h2>
        <p>Prix: {{ maSuperPizza.price }}</p>

        <!-- ngModel permet de synchroniser la valeur du champ input avec la propriété name de
            l'objet maSuperPizza -->
        <input [(ngModel)]="maSuperPizza.name">

        <!-- Méthode sans le module FormsModule -->
        <!-- #pizzaName permet de sélectionner le input dans une variable pizzaName (document.getElementById) -->
        <!-- [value] permet de récupèrer le résultat d'une variable (en JS) -->
        <!-- (keyup) permet d'écouter un événément (en JS) -->
        <!-- <input #pizzaName [value]="maSuperPizza.name" (keyup)="maSuperPizza.name = pizzaName.value"> -->
    </div>
</div>

<h2 class="my-4">La liste des pizzas</h2>
<div class="row">
    <div class="col-lg-3" *ngFor="let pizza of mesPizzas" (click)="onSelect(pizza)">
        <div class="card" [class.selected]="pizza === maSuperPizza">
            <img class="card-img-top" [src]="'assets/img/pizzas/' + pizza.image" [alt]="pizza.name">
            <div class="card-body">
                {{ pizza.name }}
            </div>
        </div>
    </div>
</div>
